<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @book.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @book.date_out %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
